<html>
<head>
    <!-- Other headers -->
    <meta property="al:android:app_name" content="백업포유" />
    <meta property="al:android:package" content="com.smd.soma_donation" />
    <meta property="al:android:url" content="somadonation://bufy.mooo.com:3000<%= origin %>" />
    <meta property="og:title" content="example page title" />
    <meta property="og:type" content="website" />
</head>
<!-- Other HTML content -->
<body onload="applink()">
    <a id="app_link" href="Intent;scheme=soma_donation;action=android.intent.action.VIEW;category=android.intent.category.BROWSABLE;package=com.smd.soma_donation;path=<%= origin %>;end"> 나의 앱 검색 실행 </a>

    <script type="text/javascript">

        function applink() {
            window.location.replace("somadonation://bufy.mooo.com:3000<%= origin %>");
        }

    </script>
</body>
</html>