
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />        <title>아임포트 데모 보기</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description" content="원하는 PG사를 선택하여 아임포트로 연동된 결제 창을 테스트해 보세요">
    <meta name="keywords" content="python inicis, node.js inicis, ruby inicis, python LGU+, node.js LGU+, ruby LGU+,
                                       python 나이스페이, node.js 나이스페이, ruby 나이스페이, python pg연동, node.js pg연동, ruby pg연동,
                                       python 결제개발, node.js 결제개발, ruby 결제개발, python 결제연동, node.js 결제연동, ruby 결제연동,
                                       python KCP, node.js KCP, ruby KCP, PHP 결제연동, JAVA 결제연동, ASP 결제연동, PHP PG연동,
                                       JAVA PG연동, ASP PG연동, PG연동, PG사, PG결제, PG변경, KG이니시스, LGU+, 나이스페이, JTNet, tPay,
                                       kakaopay, 카카오페이, 페이게이트, KCP, 전자결제, 결제연동, 결제개발, 결제서비스, 인터넷결제, 온라인결제,
                                       카드결제, 가상계좌, 실시간계좌이체, 휴대폰소액결제, 해외결제, 간편결제, 인앱결제, 워드프레스 우커머스,
                                       워드프레스 결제, 우커머스, 우커머스 쇼핑몰, 우커머스 결제, 우커머스 플러그인, 워드프레스 플러그인, 무료 결제 플러그인,
                                       결제 API, Paypal, Stripe, 카카오페이, 결제분석">
    <meta name="author" content="SIOT">
    <link href="https://www.iamport.kr/" rel="canonical">

    <!-- facebook Open Graph -->
    <meta property="og:title" content="아임포트 데모 보기">
    <meta property="og:description" content="원하는 PG사를 선택하여 아임포트로 연동된 결제 창을 테스트해 보세요">
    <meta property="og:url" content="http://www.iamport.kr/">
    <meta property="og:site_name" content="아임포트">
    <meta property="og:image:type" content="image/png">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://www.iamport.kr/images/iamport_main.png">
    <meta property="og:image:url" content="http://www.iamport.kr/images/iamport_main.png">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="315">
    <meta property="fb:app_id" content="1655157841399316">

    <!-- 링크 미리보기 이미지 -->
    <meta name="image" content="/images/iamport_main.png">
    <meta name="thumbnail" content="/images/iamport_main.png">

    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-53976410-1', 'auto');
        ga('send', 'pageview');
    </script>

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                document,'script','//connect.facebook.net/en_US/fbevents.js');

        fbq('init', '781773038618579');
        fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=781773038618579&ev=PageView&noscript=1"
        /></noscript>
    <!-- End Facebook Pixel Code -->

    <script type="text/javascript" src="http://www.iamport.kr/js/jquery.1.11.1.js"></script>
    <script type="text/javascript" src="http://www.iamport.kr/js/moment.min.js"></script>

    <!-- bootsrap -->
    <link rel="stylesheet" type="text/css" href="http://www.iamport.kr/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <!-- demo page css -->
    <link rel="stylesheet" type="text/css" href="http://www.iamport.kr/css/demo.css">
</head>
<body style="background-color: #303F9F">
<div id="container"s>
    <h1 style="color:#FFFFFF">BUFY 후원금</h1>
    <div id="demo" class="col-md-5 col-md-offset-3 col-xs-11">
        <form name="frm_payment" id="frm_payment" class="form-horizontal">
            <div class="form-group">
                <label for="pg_provider" class="col-md-4 col-xs-4">지원 PG사</label>
                <select name="pg_provider" id="pg-provider" class="col-md-8 col-xs-8">
                    <option value="html5_inicis">KG이니시스(웹표준결제)</option>
                </select>
            </div>
            <div class="form-group">
                <label for="pay_method" class="col-md-4 col-xs-4">결제수단</label>
                <select name="pay_method" id="pay_method" class="col-md-8 col-xs-8">
                    <option value="card">신용카드</option>
                </select>
            </div>
            <div class="form-group">
                <div class="checkbox col-md-4 col-md-offset-3" style="padding: 0px;">
                    <label>
                        <input type="checkbox" name="use_escrow" value="escrow" id="use_escrow">
                        <span id="escrow-label"> 에스크로결제적용</span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="merchant_uid" class="col-md-4 col-xs-4">주문번호</label>
                <input type="text" name="merchant_uid" id="merchant_uid" value="<%= support_id%>" class="col-md-8 col-xs-8"/>
            </div>
            <div class="form-group">
                <label for="name" class="col-md-4 col-xs-4">결제명</label>
                <input type="text" name="name" id="name" value="<%= target %>" class="col-md-8 col-xs-8"/>
            </div>
            <div class="form-group">
                <label for="amount" class="col-md-4 col-xs-4">금액</label>
                <input type="tel" name="amount" id="amount" placeholder="1004" class="col-md-8 col-xs-8"/>
            </div>
            <div class="form-group">
                <label for="buyer_email" class="col-md-4 col-xs-4">이메일주소</label>
                <input type="text" name="buyer_email" id="buyer_email" placeholder="example@bufy.com" class="col-md-8 col-xs-8"/>
            </div>
            <div class="form-group">
                <label for="buyer_name" class="col-md-4 col-xs-4">성함</label>
                <input type="text" name="buyer_name" id="buyer_name" value="<%= username %>" class="col-md-8 col-xs-8"/>
            </div>
            <div class="form-group">
                <label for="buyer_tel" class="col-md-4 col-xs-4">전화번호</label>
                <input type="tel" name="buyer_tel" id="buyer_tel" placeholder="010-1234-5678" class="col-md-8 col-xs-8"/>
            </div>
            <div class="form-group">
                <label for="buyer_addr" class="col-md-4 col-xs-4">주소</label>
                <input type="text" name="buyer_addr" id="buyer_addr" placeholder="서울특별시 강남구 삼성동" class="col-md-8 col-xs-8"/>
            </div>
            <div class="form-group">
                <label for="buyer_postcode" class="col-md-4 col-xs-4">우편번호</label>
                <input type="text" name="buyer_postcode" id="buyer_postcode" placeholder="123-456" class="col-md-8 col-xs-8"/>
            </div>
            <div class="form-group">
                <label for="vbank_due" class="col-md-4 col-xs-4">가상계좌 입금일자<br>(YYYYMMDD)</label>
                <input type="text" name="vbank_due" id="vbank_due" value="<%= date %>" class="col-md-8 col-xs-8"/>
            </div>
        </form>
        <div id="responser"></div>
        <a id="requester" class="btn btn-primary" onclick="iamportCredit()" style="margin-bottom: 40px;">결제하기</a>
    </div>
</div>
</body>

<script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.1.js"></script>
<script src="//code.jquery.com/jquery.min.js"></script>
<script type="text/javascript">
    function iamportCredit() {
        var IMP = window.IMP;
        IMP.init('imp87134417'); // 'iamport' 대신 부여받은 "가맹점 식별코드"를 사용.

        var frm = document.getElementById("frm_payment");
        var escrow = document.getElementById("use_escrow")
        var param = {
            pay_method : frm.pay_method.value,
            escrow : escrow,
            merchant_uid : frm.merchant_uid.value,
            name:frm.name.value,
            amount:frm.amount.value,
            buyer_email:frm.buyer_email.value,
            buyer_name:frm.buyer_name.value,
            buyer_tel:frm.buyer_tel.value,
            buyer_addr:frm.buyer_addr.value,
            buyer_postcode:frm.buyer_postcode.value,
            vbank_due:frm.vbank_due.value
        };
        /*
        var param = {
            pg: 'inicis', // version 1.1.0부터 지원.
            /!*
             'kakao':카카오페이,
             'inicis':이니시스, 'html5_inicis':이니시스(웹표준결제),
             'nice':나이스,
             'jtnet':jtnet,
             'uplus':LG유플러스,
             'danal':다날
             *!/
            pay_method: 'card', // 'card':신용카드, 'trans':실시간계좌이체, 'vbank':가상계좌, 'phone':휴대폰소액결제
            merchant_uid: 'merchant_' + new Date().getTime(),
            name: '주문명:결제테스트',
            amount: 10,
            buyer_email: 'iamport@siot.do',
            buyer_name: '구매자이름',
            buyer_tel: '010-1234-5678',
            buyer_addr: '서울특별시 강남구 삼성동',
            buyer_postcode: '123-456',
            m_redirect_url: 'http://your.service.com/mobile/pay_result'
        }*/

        IMP.request_pay(param, function (rsp) {
            if (rsp.success) {
                var msg = '결제가 완료되었습니다.';
                msg += '고유ID : ' + rsp.imp_uid;
                msg += '상점 거래ID : ' + rsp.merchant_uid;
                msg += '결제 금액 : ' + rsp.paid_amount;
                msg += '카드 승인번호 : ' + rsp.apply_num;
            } else {
                var msg = '결제에 실패하였습니다.';
                msg += '에러내용 : ' + rsp.error_msg;
            }

            console.log(msg);
            alert(msg);
        });
    }

</script>
</html>
